/* Creating a grid with two columns. The first column is 35% of the width of the container and the
second column is 50% of the width of the container. The gap between the two columns is 15% of the
width of the container. */
.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

/* Creating a square with a gradient background. */
.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

/* Rotating the image by 10 degrees. */
.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

/* Rotating the image back to its original position when the mouse hovers over it. */
.about__me-image:hover{
    transform: rotate(0);
}

/* Creating a grid with three columns and a gap of 1.5rem between each column. */
.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/* Styling the cards. */
.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transform: var(--transition);
}

/* Changing the background color of the card to transparent and the border color to the primary variant
color when the mouse hovers over it. */
.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

/* Styling the icons in the about section. */
.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Styling the h5 tag inside the about__card class. */
.about__card h5 {
    font-size: 0.95rem;
}

/* Styling the small tag inside the about__card class. */
.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

/* Styling the p tag inside the about__content class. */
.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

 /* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
 @media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
 }

  /* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
  @media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
    
}