/* Setting the width of the container to 58% and setting the grid-template-columns to 30% and 58% and
the gap to 12%. */
.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

/* Setting the display to flex, the flex-direction to column and the gap to 1.2rem. */
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Setting the background to the color of the background variant, padding to 1.2rem, border-radius to
1.2rem, text-align to center, border to 1px solid transparent, and transition to var(--transition). */
.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition)
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__option h5 {
    color: var(--color-light);
}

/* =============== FORM =============== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

 /* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */
 @media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
 }

  /* ============ MEDIA QUERIES (SMALL DEVICES) ============ */
  @media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
  }